
useDynLib(miceadds)



######################################
########### IMPORTS ##################



#***************************************************
#*************** R Basics / Linking To *************


importFrom(graphics, par)
importFrom(graphics, plot)
importFrom(methods, is)
importFrom(stats, aggregate)
importFrom(stats, aov)
importFrom(stats, as.formula)
importFrom(stats, binomial)
importFrom(stats, coef)
importFrom(stats, complete.cases)
importFrom(stats, cov)
importFrom(stats, cov2cor)
importFrom(stats, cor)
importFrom(stats, density)
importFrom(stats, dnorm)
importFrom(stats, dt)
importFrom(stats, fitted)
importFrom(stats, formula)
importFrom(stats, get_all_vars)
importFrom(stats, glm)
importFrom(stats, lm)
importFrom(stats, model.matrix)
importFrom(stats, na.omit)
importFrom(stats, pchisq)
importFrom(stats, pf)
importFrom(stats, plogis)
importFrom(stats, pnorm)
importFrom(stats, predict)
importFrom(stats, princomp)
importFrom(stats, pt)
importFrom(stats, qnorm)
importFrom(stats, qt)
importFrom(stats, rbinom)
importFrom(stats, rchisq)
importFrom(stats, reformulate)
importFrom(stats, resid)
importFrom(stats, residuals)
importFrom(stats, rnorm)
importFrom(stats, rt)
importFrom(stats, runif)
importFrom(stats, sd)
importFrom(stats, terms)
importFrom(stats, update)
importFrom(stats, var)
importFrom(stats, vcov)
importFrom(stats, weighted.mean)
importFrom(utils, citation)
importFrom(utils, flush.console)
importFrom(utils, install.packages)
importFrom(utils, packageDescription)
importFrom(utils, read.csv)
importFrom(utils, read.csv2)
importFrom(utils, read.fwf)
importFrom(utils, read.table)
importFrom(utils, sessionInfo)
importFrom(utils, str)
importFrom(utils, write.csv)
importFrom(utils, write.csv2)
importFrom(utils, write.table)


#***************************************************
#************** Depends ****************************

import(mice)



#***************************************************
#************** Imports (own packages) *************

importFrom(CDM, cdm_print_summary_data_frame)
importFrom(CDM, CDM_rmvnorm)
importFrom(CDM, csink)
importFrom(CDM, osink) 
importFrom(sirt, parmsummary_extend)
importFrom(sirt, rowKSmallest2.sirt)
importFrom(sirt, sirt_summary_print_call)
importFrom(sirt, sirt_summary_print_package_rsession)
importFrom(TAM, require_namespace_msg)
importFrom(TAM, tam.pv)
importFrom(TAM, tam.latreg)
importFrom(TAM, tam_outer)
importFrom(TAM, weighted_mean)
importFrom(TAM, weighted_quantile)
importFrom(TAM, weighted_sd)


#***************************************************
#************** Imports ****************************

importFrom(coda, mcmc) 
importFrom(lme4, fixef)
importFrom(lme4, getME)
importFrom(lme4, glmer)
importFrom(lme4, isGLMM)
importFrom(lme4, isREML)
importFrom(lme4, lmer)
importFrom(lme4, ranef)
importFrom(lme4, refitML)
importFrom(lme4, VarCorr)
importFrom(MASS, ginv)
importFrom(mitools, MIcombine)
importFrom(mvtnorm, dmvnorm)
# importFrom(mvtnorm, rmvnorm) # replaced by CDM::CDM_rmvnorm
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, sourceCpp)





#***************************************************
#************** Suggests ***************************
# requireNamespace("another_package")
# TAM::require_namespace_msg("another_package")
 
# importFrom(BIFIEsurvey, BIFIE.BIFIEcdata2BIFIEdata)
# importFrom(BIFIEsurvey, BIFIE.BIFIEdata2datalist)
# importFrom(blme, bglmer)
# importFrom(blme, blmer)
# importFrom(car, Anova) 
# importFrom(foreign, read.spss) 
# importFrom(grouped, grouped)
# importFrom(inline, getDynLib)
# importFrom(MBESS, ci.reliability)
# importFrom(MCMCglmm, MCMCglmm)
# importFrom(multiwayvcov, cluster.vcov)
# importFrom(numDeriv, hessian)
# importFrom(sjlabelled, set_label)
# importFrom(sjlabelled, write_spss)



######################################
########### EXPORTS ##################


#############################
## exports

export(complete.mids.1chain)
export(complete.mids.nmi)
export(create.designMatrices.waldtest)
export(crlrem)
export(cwc)
export(cxxfunction.copy)
export(datlist2mids)
export(datlist2nested.datlist)
export(datalist2mids)
export(datlist_create)
export(draw.pv.ctt)
export(fast.groupmean)		# defunct
export(fast.groupsum)		# defunct
export(filename_split)
export(filename_split_vec)
export(files_move)
export(fleishman_coef)
export(fleishman_sim)
export(glm.cluster)
export(gm)
export(grepvec)
export(grep.vec)
export(grep_leading)
export(grepvec_leading)
export(GroupMean)
export(GroupSD)
export(GroupSum)
export(in_CI)
export(index.dataframe)
export(jomo2datlist)
export(jomo2mids)
export(kernelpls.fit2)
export(library_install)
export(List2nestedList)
export(lm.cluster)
export(lmer_pool)
export(lmer_pool2)
export(lmer_vcov)
export(lmer_vcov2)
export(load.data)
export(load.files)
export(load.Rdata)
export(load.Rdata2)
export(ma.scale2)
export(ma.wtd.corNA)
export(ma.wtd.covNA)
export(ma.wtd.kurtosisNA)
export(ma.wtd.meanNA)
export(ma.wtd.quantileNA)
export(ma.wtd.sdNA)
export(ma.wtd.skewnessNA)
export(ma_exists)
export(ma_exists_get)
export(ma_lme4_formula_design_matrices)
export(ma_lme4_formula_terms)
export(ma_rmvnorm)
export(max0)
export(mean0)
export(mi.anova)
export(mi_dstat)
export(mice.1chain)
export(mice.impute.2l.binary)
export(mice.impute.2l.contextual.norm)
export(mice.impute.2l.contextual.pmm)
export(mice.impute.2l.continuous)
export(mice.impute.2l.eap)		# defunct
export(mice.impute.2l.groupmean)
export(mice.impute.2l.groupmean.elim)
export(mice.impute.2l.latentgroupmean.mcmc)
export(mice.impute.2l.latentgroupmean.ml)
export(mice.impute.2l.plausible.values)	# defunct
export(mice.impute.2l.pls)		# defunct
export(mice.impute.2l.pls2)	
export(mice.impute.2l.pmm)
export(mice.impute.2lonly.function)
export(mice.impute.2lonly.norm2)	# defunct
export(mice.impute.2lonly.pmm2)		# defunct
export(mice.impute.bygroup)
export(mice.impute.eap)
export(mice.impute.grouped)
export(mice.impute.hotDeck)
export(mice.impute.ml.lmer)
export(mice.impute.plausible.values)
export(mice.impute.pls)
export(mice.impute.pmm3)
export(mice.impute.pmm4)
export(mice.impute.pmm5)
export(mice.impute.pmm6)
export(mice.impute.tricube.pmm)
export(mice.impute.tricube.pmm2)
export(mice.impute.weighted.norm)
export(mice.impute.weighted.pmm)
export(mice.nmi)
export(mice_inits)
export(miceadds_rcpp_ml_mcmc_compute_xtx)     
export(miceadds_rcpp_ml_mcmc_compute_ztz)    
export(miceadds_rcpp_ml_mcmc_predict_fixed)
export(miceadds_rcpp_ml_mcmc_predict_fixed_random) 
export(miceadds_rcpp_ml_mcmc_predict_random)
export(miceadds_rcpp_ml_mcmc_predict_random_list)
export(miceadds_rcpp_ml_mcmc_probit_category_prob)
export(miceadds_rcpp_ml_mcmc_sample_beta)
export(miceadds_rcpp_ml_mcmc_sample_latent_probit) 
export(miceadds_rcpp_ml_mcmc_sample_psi)
export(miceadds_rcpp_ml_mcmc_sample_sigma2)
export(miceadds_rcpp_ml_mcmc_sample_thresholds)
export(miceadds_rcpp_ml_mcmc_sample_u)
export(miceadds_rcpp_ml_mcmc_subtract_fixed)
export(miceadds_rcpp_ml_mcmc_subtract_random)
export(miceadds_rcpp_pnorm)     
export(miceadds_rcpp_qnorm)
export(miceadds_rcpp_rtnorm) 
export(micombine.chisquare)
export(micombine.cor)
export(micombine.cov)
export(micombine.F)
export(MIcombine.NestedImputationResultList)
export(mids2datlist)
export(min0)
export(MIwaldtest)
export(ml_mcmc)
export(ml_mcmc_fit)
export(nested.datlist_create)
export(nested.datlist2datlist)
export(NestedImputationList)
export(nestedList2List)
export(NMIcombine)
export(NMIextract)
export(NMIwaldtest)
export(nnig_coef)
export(nnig_sim)
export(output.format1)
export(pca.covridge)
export(pool_mi)
export(pool_nmi)
export(pool.mids.nmi)
export(prop_miss)
export(quantile0)
export(rcpp_create_header_file)
export(read.fwf2)
export(Rcppfunction_remove_classes)
export(Reval)
export(Revalpr)
export(Revalpr_maxabs)
export(Revalpr_round)
export(Revalprstr)
export(Rfunction_include_argument_values)
export(Rfunction_output_list_result_function)
export(Rhat.mice)
export(round2)
export(Rsessinfo)
export(save.data)
export(save.Rdata)
export(scale_datlist)
export(scan.vec)
export(scan.vector)
export(scan0)
export(sd0)
export(source.all)
export(source.Rcpp.all)
export(stats0)
export(str_C.expand.grid)
export(string_extract_part)
export(string_to_matrix)
export(subset_datlist)
export(sumpreserving.rounding)
export(systime)
export(tw.imputation)
export(tw.mcmc.imputation)
export(var0)
export(VariableNames2String)
export(visitSequence.determine)
export(within.imputationList)
export(withPool_MI)
export(withPool_NMI)
export(write.datlist)
export(write.fwf2)
export(write.mice.imputation)
export(write.pspp)


#########################################
########### S3 METHODS ##################

S3method(coef, glm.cluster)
S3method(coef, lm.cluster)
S3method(coef, mipo.nmi)
S3method(coef, ml_mcmc)
S3method(coef, pool_mi)
S3method(coef, lmer_vcov)
S3method(MIcombine, NestedImputationResultList)
S3method(plot, mids.1chain)
S3method(plot, ml_mcmc)
S3method(predict, kernelpls.fit2)
S3method(print, datlist)
S3method(print, mids.1chain)
S3method(print, mids.nmi)
S3method(print, nested.datlist)
S3method(print, NestedImputationList)
S3method(subset, datlist)
S3method(subset, imputationList)
S3method(subset, mids)
S3method(subset, mids.1chain)
S3method(summary, glm.cluster)
S3method(summary, lm.cluster)
S3method(summary, lmer_pool)
S3method(summary, lmer_vcov)
S3method(summary, mids.1chain)
S3method(summary, mids.nmi)
S3method(summary, mipo.nmi)
S3method(summary, mira.nmi)
S3method(summary, ml_mcmc)
S3method(summary, MIwaldtest)
S3method(summary, NMIwaldtest)
S3method(summary, pool_mi)
S3method(vcov, glm.cluster)
S3method(vcov, lm.cluster)
S3method(vcov, lmer_vcov)
S3method(vcov, mipo.nmi)
S3method(vcov, ml_mcmc)
S3method(vcov, pool_mi)
S3method(with, datlist)
S3method(with, mids.1chain)
S3method(with, mids.nmi)
S3method(with, nested.datlist)
S3method(with, NestedImputationList)
S3method(within, datlist)
S3method(within, imputationList)
S3method(within, nested.datlist)
S3method(within, NestedImputationList)
